body {
  height: 200px;
  background: radial-gradient(circle, #ffffff, #b4b4b4); /* Diagonal */   
}


#titre {
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#paragraphe {
    font-size: larger;
    text-align: center;
    margin-top: 50px;
}

#paragraphe2 {
    font-size: large;
}

#line {
    text-align: center;
}
